{% extends "base1.html" %}

{% block tituloPagina %}
Inicio - App Juegos
{% endblock %}

{% block contenidoPagina %}

<div class="bg-dark py-5" style="background-image: url(https://i.pinimg.com/originals/82/04/46/8204469704a28df21860748037e03fe4.jpg);">
  <div class="bg-invisible">
    <div class="container py-5">
        </div>
      </div>
      </div>
    </div>
  </div>
  
          <h3 class="display-4 font-weight-light">Equipo</h3>
          <p class="font-italic text-muted">El responsable de este blog es:</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          
            <h5 class="mb-0">Santiago Roldan</h5>
            <span class="small text-uppercase text-muted">CEO - Fundador</span>
            <p>Mi nombre es Santiago, tengo 26 años. Estoy experimentando esta nueva experiencia
              debido a que me entro la curiosidad del tema de la programación,
              siempre me ha gustado el tema tecnológico, por lo tanto siento que
              estoy aventurandome en un mundo que siempre quise estar.
              
            </p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
  
  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
    </div>
  </footer>


{% endblock %}