
<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block tituloPagina %} {% endblock %} Call of duty</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
          <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
            <div class="container-fluid">
              <button
                      class="navbar-toggler ps-0"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#navbarExample01"
                      aria-controls="navbarExample01"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                      >
                <span
                      class="navbar-toggler-icon d-flex justify-content-start align-items-center"
                      >
                  <i class="fas fa-bars"></i>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-item btn btn-dark mx-2" aria-current="page" href={% url "inicio" %}>Inicio</a></li>
            
                        
                         <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "juegos" %}>Juegos</a></li>
                         <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "jugadores" %}>Jugadores</a></li>
                         <li class="nav-item"><a class="btn btn-dark mx-2"" href={% url "lideres" %}>Lideres</a></li>
                         <li class="nav-item"><a class="btn btn-dark mx-2"" href={% url "posts" %}>Posts</a></li>

                        {% if user.is_authenticated %}
                            <img class="rounded" src = "{{url}}" alt="" srcset="" style="height: 40px;">
                            <!-- <i class="bi bi-person-badge-fil text-light"></i> -->
                            <li class="nav-item"><p class="text-light my-2 mx-2">  Hola, <b>{{user.username}}</b></p></li>
                            <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "logout" %}>Cerrar sesión</a></li>
                        {% else %}
                            <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "login" %}>Iniciar sesión</a></li>
                            <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "register" %}>Registrarse</a></li>
                        {% endif %}
                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        
        {% block contenidoPagina %}

        <h1>Contenido cambiante</h1>

        {% endblock %}

    
        <!-- Footer-->
        <footer class="py-5 bg-secondary">
            <li class="container center"><a class="btn btn-dark mx-2" href={% url "acerca" %}>Acerca de mi 🐻 </a></li>
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
