{% extends "base1.html" %}
{% block tituloPagina %}
Inicio - App Juegos
{% endblock %}

{% block contenidoPagina %}
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url(https://support.activision.com/content/dam/atvi/support/article-assets/hero-banners/call-of-duty-mobile/codmobile-hero2.jpg);">|
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-4 fw-bolder text-light mb-2">CALL OF DUTY 🥷🏿</h1>
                            <p class="lead text-white-50 mb-4">Página dedicada a los jugadores de la saga Call Of Duty</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        
                                {% if user.is_authenticated %}
                                    <img class="rounded" src = "{{url}}" alt="" srcset="" style="height: 40px;">
                                    <li class="nav-item"><p class="text-light my-2 mx-2">  Hola, <b>{{user.username}}</b></p></li>
                                    <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "logout" %}>Cerrar sesión</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "login" %}>Iniciar sesión</a></li>
                                    <li class="nav-item"><a class="btn btn-dark mx-2" href={% url "register" %}>Registrarse</a></li>
                            {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container">
         <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {% if posts %}
              {% for post in posts %}
                <div class="post-preview">
                  <a href="post.html">
                    <h2 class="post-title">
                        {{ post.titulo }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.descripcion }}
                    </h3>
                   </a>
                   <p class="post-meta">Publicado por
                     <strong> {{ post.autor }}  </strong> el
                        {{ post.fecha_creacion }}</p>
                    </div>
                    <hr>
               {% endfor %}
              {% else %}
                <h1>No existen post registrados</h1>
            {% endif %}
                        
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/data_datum">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/data-datum">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
                    </div>
                </div>
            </div>
        </footer>
        

    {% endblock %}
        
