<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Jugadores</title>
</head>
<body>
    <h2>Lista de Jugadores: </h2>
    <ul>
        {% for jugador in object_list %}
        <li>
            Jugador: {{jugador.avatar}} {{jugador.juego}} |
            <a href="{% url 'jugador_detail' jugador.id" >Ver</a>
            <a href="{% url 'jugador_update' jugador.id" >Editar</a>
            <a href="{% url 'jugador_delete' jugador.id" >Eliminar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>